{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "react/prop-types": [2, { "ignore": ["children"] }]
    },
    "env": {
        "browser": true,
        "node": true
    }
}